<!DOCTYPE html>
<html>
<head>
  <meta name="description" content="angular-katex examples">
  
  <link rel="stylesheet" href="//tfoxy.github.io/angular-katex/bower_components/katex/dist/katex.min.css">
  
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="//tfoxy.github.io/b/katex/dist/katex.min.js"></script>
  <script src="//tfoxy.github.io/b/katex/dist/contrib/auto-render.min.js"></script>
  <script src="//tfoxy.github.io/b/angular-katex/angular-katex.min.js"></script>
</head>
  
<body ng-app="app" ng-controller="Ctrl">

  <h4>Tag element </h4>
  <katex>x^2</katex>
  <code>&lt;katex>x^2&lt;/katex></code>

  <h4>Attribute</h4>
  <span katex>x^2</span>
  <code>&lt;span katex>x^2&lt;/span></code>

  <h4>Attribute value</h4>
  <span katex="x^2"></span>
  <code>&lt;span katex="x^2">&lt;/span></code>
  
  <h4>expr attribute value</h4>
  <katex expr="x^2"></katex>
  <code>&lt;katex expr="x^2">&lt;/katex></code>

  <h4>Bind to scope</h4>
  <pre>&lt;input ng-model="tex">
&lt;katex bind="tex">&lt;/katex></pre>
  <input ng-model="tex">
  <katex bind="tex"></katex>

  <h4>Display mode</h4>
  <pre>&lt;div katex="x^2" display-mode>&lt;/div></pre>
  <div katex="x^2" display-mode></div>

  
  <h4>Don't show error</h4>
  <pre>&lt;div katex="\"
  on-error="$setText('')"
>&lt;/div></pre>
  <br>
  <pre>on-error locals:
  $expr: (string) expression
  $err: (object) error
  $setText: (function) set text</pre>
  <div katex="\"
    on-error="$setText('')"
  ></div>
  
  <hr>
  
  <h3>Auto-render</h3>
  
  <div>
  This uses the
  <a href="https://github.com/Khan/KaTeX/tree/master/contrib/auto-render">katex auto-render extension</a>.
  </div>
  <pre>&lt;div katex auto-render>
  &lt;b>Exponentiation&lt;/b>
  is written as \(b^n\)
&lt;/div></pre>
  <div katex auto-render>
    <b>Exponentiation</b>
    is written as \(b^n\)
  </div>
  
  <pre>&lt;input ng-model="autoRenderTex">
&lt;katex bind="autoRenderTex"
  auto-render>&lt;/katex></pre>
  <input ng-model="autoRenderTex">
  <katex bind="autoRenderTex"
    auto-render></katex>
  
</div>
<script>
  angular.module('app', ['katex'])
    .controller('Ctrl', Ctrl);

Ctrl.$inject = ['$scope'];

function Ctrl($scope) {
  'use strict';

  $scope.tex = 'x^2';
  
  $scope.autoRenderTex = 'Exponentiation:<br>\\(x^2\\) and \\(x^3\\)';
}
</script>
</body>
</html>