<!DOCTYPE HTML>
<html ng-app="mathQuiz">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Adaptive Math Test</title>
		<link rel="stylesheet" type="text/css" href="css/quiz.css">
		<!-- Auth0's lock widget library -->
		<script type="text/javascript" src="https://cdn.auth0.com/js/lock-9.2.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	</head>
	<body>
		<div id="mathQuiz" ng-controller="QuizController">
			<h1>All Gifted Adaptive Test<span>Math</span></h1>
			<div class="progress">
				<div class="
				{{($index === activeQuestion) ? 'on':'off'}}
				{{ (myQuestion.questionState === 'answered') ? 'answered' : 'unanswered'}} 
				{{ (myQuestion.correctness === 'correct') ? 'correct' : 'incorrect'}}"
				ng-repeat="myQuestion in myQuestions"></div>
			</div>
			<div class="intro {{ (activeQuestion > -1) ? 'inactive' :'active'}}">
				<h2>Welcome</h2>
					<p>Click begin to start your Math test</p>
					<div ng-click="login()" class="btn">Begin</div>
			</div>
			<div class="question 
				{{ $index === activeQuestion ? 'active':'inactive'}} {{ myQuestion.questionState === 'answered' ? 'answered':'unanswered'}}" ng-repeat="myQuestion in myQuestions">
				<p class="txt">
					{{ myQuestion.question }}
				</p>
				<p ng-if="myQuestion.question_image" class="question_image" ng-style="{ 'background-image':'url({{myQuestion.question_image}})' }">
				</p>
				<p class="ans" 
					ng-class="{
						image:Answer.image,
						selected: isSelected($parent.$index, $index),
						correct: isCorrect($parent.$index, $index)
					}" 
					ng-style="{ 'background-image':'url({{Answer.image}})'}"
					ng-repeat="Answer in myQuestions[$index].answers"  
					ng-click="selectAnswer($parent.$index, $index)">{{ Answer.text }}</p>
				<div class="feedback">
					<p ng-show="myQuestion.correctness === 'correct'">You are <strong>correct</strong>!</p>
					<p ng-show="myQuestion.correctness === 'incorrect'">Oops! That is <strong>not correct.</strong></p>
					<p>{{myQuestion.feedback}}</p>
					<div class="btn" ng-click="selectContinue()">Continue</div>
				</div>
			</div>
			<div class="results  {{(totalQuestions === activeQuestion) ? 'active' : 'inactive'}}">
				<h3>Results</h3>
				<p>You scored {{percentage}}% by correctly answering {{score}} of the total {{totalQuestions}} questions.</p>
				<p>Use the links below to report your achievement.</p>
				<div class="share" ng-bind-html = "createShareLinks(percentage)"></div>
				<div><a ng-click="logout()" class="btn end" href="#">End Test</a></div>
			</div>
		</div>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<!-- Angular cookie wrapper library for client cookies -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-cookies.js"></script>
	<!-- Angular's Router Library for SPA -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular-route.js"></script>
	<!-- Auth0's Angular SDK Library -->
	<script type="text/javascript" src="https://cdn.auth0.com/w2/auth0-angular-4.js"></script>
	<!-- Angular wrapper for localStorage and sessionStorage. Defaults to ng-cookies if not available -->
	<script src="http://cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js" type="text/javascript"> </script>
	<!-- Angular wrapper library for JWT-->
	<script src="http://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js" type="text/javascript"> </script>
	<script type="text/javascript" src='js/quiz.js'></script>		

	</body>
</html>